
<div class="container-list-outer">
  <div class="options" data-controller="addlist" data-addlist-target="container">
    <h3>All Lists</h3>
    <ul>
      <% lists.each do |list|%>
        <li>
          <button class="options-btn" data-action="addlist#showListItems"><%= list.name %></button>
        </li>
      <% end %>
    </ul>
  <%=  simple_form_for new_list, html: { data: { addlist_target: "form", action: "submit->addlist#create" } } do |f| %>
    <%= f.input :name, label: false, placeholder: "What is the name of your new list?" %>
    <%= f.button :submit, class: "btn btn-primary text-white" %>
  <% end %>
  </div>
</div>
