// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3a86ff;
$yellow: #F2B60F;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bright-blue: #00C0D9;
$beautiful-blue: #0188E1;
$tomato: #EF6038;
$apricot: #E8C8AF;
$pink: #F4A1BD;
$bright-green: #CCF531;
