// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3a86ff;
$yellow: #fee440;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bright-green: #00f5d4;
$beautiful-blue: #00bbf9;
$tomato: #EF6038;
$apricot: #E8C8AF;
$pink: #f15bb5;
