// Define variables for your color scheme

// For example:
$red: #D60200;
$blue: #3a86ff;
$yellow: #F1B916;
$orange: #F05A03;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$bright-blue: #94C0C0;
$beautiful-blue: #0188E1;
$tomato: #EF6038;
$apricot: #E8C8AF;
$pink: #EB7EAD;
$bright-green: #CCF531;
$japan-blue-dark: #0D45A2;
$japan-blue-light: #6D7ADF ;
$japan-yellow: #F5D827 ;
$japan-orange-light: #EC8325 ;
$japan-orange-dark: #F55C04 ;
$japan-white: #F5F5F5;
