.page-container {
  position: relative;
}

.morning-routine {
  position: absolute;
  right: 10px;
}

.lists-container {
  display: flex;
}

.options {
  background-color: beige;
}



.head-container {
  display: flex;
  justify-content: space-between;

  padding: 8px;
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;

}
