<div data-controller="pomodoro" data-pomodoro-work-time-value=".3" data-pomodoro-short-break-time-value=".1" data-pomodoro-long-break-time-value=".2">
<div data-pomodoro-target="display">25:00</div>
<button data-action="pomodoro#start">Start</button>
<button data-action="pomodoro#stop">Pause</button>
<button data-action="pomodoro#reset">Reset</button>
</div>
