<div class="container-pomodoro" data-controller="pomodoro" data-pomodoro-work-time-value=".2" data-pomodoro-short-break-time-value=".05" data-pomodoro-long-break-time-value=".1" data-pomodoro-target="container">
  <div class="buttons-container">
      <div id="button-tomato">
        <button data-action="pomodoro#start"><i class="fa-solid fa-play"></i></button>
      </div>

      <div class="buttons-control">
        <div id="button-pause">
          <button data-action="pomodoro#stop"><i class="fa-solid fa-pause"></i></button>
        </div>

        <div id="button-reset">
          <button data-action="pomodoro#reset"><i class="fa-solid fa-rotate-left"></i></button>
        </div>

        <div id="button-start-break">
          <button data-action="pomodoro#startBreak">Start Break</button>
        </div>
      </div>
  </div>

  <div id="display-pomodoro" data-pomodoro-target="display">25:00</div>
  <div>WHITE NOISE</div>
</div>
