<div data-controller="pomodoro" data-pomodoro-work-time-value="25" data-pomodoro-short-break-time-value="5" data-pomodoro-long-break-time-value="15">
<div data-pomodoro-target="display">25:00</div>
<button data-action="pomodoro#start">Start</button>
<button data-action="pomodoro#pause">Pause</button>
<button data-action="pomodoro#stop">Stop</button>
<button data-action="pomodoro#reset">Reset</button>
</div>
