<div class="container-pomodoro" data-controller="pomodoro" data-pomodoro-work-time-value="25" data-pomodoro-short-break-time-value="5" data-pomodoro-long-break-time-value="15" data-pomodoro-target="container">
  <div class="buttons-container">
    <div id="button-tomato">
      <button data-action="pomodoro#start" data-pomodoro-target="play"><i class="fa-solid fa-play" ></i></button>
      <button data-action="pomodoro#stop" class="hidden" data-pomodoro-target="pause"><i class="fa-solid fa-pause"></i></button>
    </div>
  </div>
  <div>
    <h6 data-pomodoro-target="currentSession" class="current-session text-center"></h6>
    <div id="display-pomodoro" data-pomodoro-target="display">25:00</div>
  </div>
  <div class="pomodoro-info">
    <div>Complete Pomodoros: <span data-pomodoro-target="count"><%= current_user.days.last.pomodoros.where(status: 1).count %></span></div>
    <div>Next Up: <span data-pomodoro-target="nextSession">Work</span></div>
  </div>
  <%= render "pomodoros/whitenoise" %>
</div>
