<div data-controller="whitenoise" class="container-whitenoise">
  <p>White Noise</p>
  <div class="toggle-switch">
  <input class="toggle-input" id="toggle" type="checkbox" data-action="whitenoise#toggle" data-whitenoise-target="togglebutton">
  <label class="toggle-label" for="toggle"></label>
</div>

</div>
