<h1>Productivity Pest</h1>
<% if user_signed_in? %>
  <div>
    <%= render 'water_trackers/water_tracker', water_tracker: @water_tracker %>
  </div>
  <div>
    <%= render "lists/lists"%>
  </div>

  <%= render 'pomodoros/pomodoro' %>
  <%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
<% end %>
