<% if user_signed_in? %>
<div class="home-container">
  <div class="schedule" id="schedule-container">
      <%= render 'schedules/schedule', schedule: @schedule, schedule_task: @schedule_task, times: @times %>
    </div>
</div>

  <div class="pomorodo mt-3">
    <%= render 'pomodoros/pomodoro' %>
  </div>
<% end %>
  <%= audio_tag "dingdong.wav", id: "dingdong-audio" %>
  <%= audio_tag "whitenoise.mp3", id: "whitenoise-audio", loop: true %>
