<h1>Productivity Pest</h1>
<%= render 'water_trackers/water_tracker', water_trackers: @water_trackers %>
<%= render "lists/lists"%>
<%= render 'pomodoros/pomodoro' %>
<%= audio_tag "dingdong.wav", id: "dingdong-audio" %>

