<div class="div-meditations">
  <iframe style="border-radius:8px; width: 50vw; height: 53vh; box-shadow: rgba(50, 50, 93, 0.21) 0px 50px 100px -20px, rgba(0, 0, 0, 0.21) 0px 30px 60px -30px;" src="https://open.spotify.com/embed/playlist/3Q6ejDVzUBbznjCwTjbC4o?utm_source=generator" frameBorder="0" allowfullscreen="false"; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
