<div class="div-meditations" data-controller="meditation" data-meditation-target="container">
  <h3>Give your mind a break!</h3>
  <div class="playlist">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/videoseries?si=jbC_DUZDwIeulKG5&amp;list=PLP13bibiyk_-29luUA7GQwlHuJH-8uswt" title="YouTube video player" frameborder="0" allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <% if current_user.days.last.meditation_complete %>
    <p class="btn-finished-meditation">Well done! You have completed a meditation today!</p>
  <% else %>
    <%= simple_form_for [current_user, current_user.days.last], html: { data: { meditation_target: "form", action: "submit->meditation#update", turbo: "false" } } do |f| %>
      <%= f.button :submit, 'I finished a meditation!', class: "btn-meditation-add" %>
    <% end %>
  <% end %>
</div>
