.btn-sign-up {
  background-color: $japan-blue-light;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  padding: 8px 12px ;
  width: 100%;

  &:hover {
    background-color: #959ee2;
    color: white;
  }

}

.btn-log-out {
  background-color: $japan-blue-light;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  padding: 8px 12px ;

  &:hover {
    background-color: #959ee2;
  }
}

.btn-japan-yellow {
  background-color: $japan-yellow;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-japan-blue-light {
  background-color: $japan-blue-light;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;

}

.btn-japan-orange-light {
  background-color: $japan-orange-light;
    font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
}

.btn-japan-orange-dark {
  background-color: $japan-orange-dark;
    font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
}

.btn-japan-blue-dark {
  background-color: $japan-blue-dark;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 28px;

}
