.btn-yellow {
  background-color: $yellow;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-blue {
  background-color: $bright-blue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
}

.btn-pink {
  background-color: $pink;
    font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
}

.btn-red {
  background-color: $red;
    font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 8px;
}

.btn-green {
  background-color: $bright-green;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 28px;

}

.btn-main {
  background-color: $beautiful-blue;
  color: white;
}

.btn-orange {
  background-color: $orange;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 28px;
}
