.simple-calendar {
  position: absolute;
  width: 48vw;
  .day {
    background-color: $white;
    border: solid 4px $pink;
  }

  .weekdays {
    background-color: $pink;
    color: white;
    border: solid 4px $white;

  }

  .wday-0 {
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
