
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  height: 64vh;
  width: 40vw;
  position: absolute;


  ul {
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    padding-left: 0;
  }

  li {

    border-bottom: 1px solid lightgray;
    font-family: $body-font;
    padding: 4px;

  }

  .list {
    width: 100%;
  }

  .div-list-items {
    flex-grow:1;
    height: 100%;
  }






  ul::-webkit-scrollbar {
    width: 12px;
            /* width of the entire scrollbar */
  }

  ul::-webkit-scrollbar-track {
    background: $beautiful-blue;
    border-radius: 20px;       /* color of the tracking area */
  }

  ul::-webkit-scrollbar-thumb {
    background-color: $bright-green;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $beautiful-blue;  /* creates padding around scroll thumb */
  }

}
