.container-list-items {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .div-name-list {
    overflow-y: auto;
    height: 340px;
  }

}



.div-name-list::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.div-name-list::-webkit-scrollbar-track {
  background: orange;
  border-radius: 20px;         /* color of the tracking area */
}

.div-name-list::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
