.container-list-items {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .div-name-list {
    overflow-y: auto;
    height: 180px;
    transition: all ease 0.3s;
  }

}

.list-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;


  &:hover {
    .btn-delete-item {
      opacity: 1;
    }
  }

}
.btn-delete-item {
  color: $japan-yellow;
  font-size: 16px;
  opacity: 0;
  transition: all ease 0.3s;
}

.item-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .form-control {
    width: 620px;

  }
}




.div-name-list::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.div-name-list::-webkit-scrollbar-track {
  background: $japan-white;
  border-radius: 20px;         /* color of the tracking area */
}

.div-name-list::-webkit-scrollbar-thumb {
  background-color: $japan-yellow;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $japan-white;  /* creates padding around scroll thumb */
}
