.div-meditations {
  width: 97%;
  background-color: #9C6F23;
  border-radius: 8px;
  height: 55vh;

  .btn-meditation-add {
    background-color: $japan-orange-light;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 4px;
  }

  .btn-finished-meditation {
    background-color: $japan-orange-light;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    margin-left: 4px;
  }
}
