

.container-pomodoro {
  position: fixed;
  margin-top: 16px;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  height:fit-content;
  box-shadow: rgba(50, 50, 93, 0.21) 0px 50px 100px -20px, rgba(0, 0, 0, 0.21) 0px 30px 60px -30px;

}

.current-session {
  margin-bottom: 0px;
}

.long-break-period {
  background-color: #4B7EFF;
  color: white;
}

.short-break-period {
  background-color: #80C1FE;
  color: white;
}

.work-period {
  background-color: #FF4F4F;
  color: white;
}

button {
  border: none;
  text-align: center;
  background-color: transparent;
}

.buttons-container {
  display: flex;
  align-items: center;
}

#button-tomato {
  display: flex;
  justify-content: center;
  background: image_url('tomato.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 8vh;
  align-items: center;
  button {
    height: fit-content;
    padding-top: 12px;
    padding-left: 8px;
  }
}

#button-play {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#display-pomodoro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  padding: 0px 8px;
  line-height: 36px;
}

.pomodoro-info {
  padding-left: 16px;
  width: fit-content;
}


@media (min-width: 100px) and (max-width: 992px) {
  #display-pomodoro {
    font-size: 20px;
  }

  .pomodoro-info {
    font-size: 14px;
  }
}
