

.container-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: start;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  position: relative;

  .container-tasks {
    align-self: center;
    width: 84%;
    height: 100%
  }

  .div-time-name {
    display: flex;
    align-items: center;
  }

  .btn-delete-task, .btn-edit-task {
    color: $japan-blue-light;
    opacity: 0;
    transition: all ease 0.3s;
  }


  .schedule-buttons {
    display: flex;
    align-items: start;

  }

  .task-times {
    p {
      font-size: 16px;
    }
    background-color: $japan-blue-light;
    color: $japan-white;
    border-radius: 8px;
    padding: 4px 8px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 12px;

  }

  .all-tasks {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
  }

  .div-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #c7ccfe;
    color: #282d58;
    // box-shadow: rgba(38, 38, 145, 0.22) 0px 6px 12px -2px, rgba(47, 44, 135, 0.22) 0px 3px 7px -3px;
    width: 100%;
    height: fit-content;
    padding: 12px 12px;

    &:hover {
      .btn-delete-task, .btn-edit-task {
        opacity: 1;
      }
    }
  }

  .date {
    align-self: center;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #282d58;
  }
  p {
    padding: 4px;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 200;
  }







}

.form-task {
  width: 100%;
}



.task-modal {
  align-self: center;
  justify-self: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 88%;
  padding: 1.3rem;
  height: 84%;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  position: absolute;
  top: 10%;

  box-shadow: rgba(50, 50, 93, 0.21) 0px 50px 100px -20px, rgba(0, 0, 0, 0.21) 0px 30px 60px -30px;
}

.task-modal .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.hidden {
  display: none;
}

.btn-add-task{
  font-weight: bold;
  font-size: 54px;
  color: #282d58;
  position: absolute;
  transition: all ease 0.3s;
  bottom: 0px;
  right: 8px;
}
.btn-add-task:hover {

  color: #373e7e ;
}

.btn-submit-task {
  color: $japan-white;
  background-color: #282d58;
  transition: all ease 0.3s;

  &:hover {
    background-color: #373e7e;
    color: $japan-white
  }
}



.all-tasks::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.all-tasks::-webkit-scrollbar-track {
  background: $japan-white;
  border-radius: 20px;         /* color of the tracking area */
}

.all-tasks::-webkit-scrollbar-thumb {
  background-color: $japan-blue-light;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid $japan-white;  /* creates padding around scroll thumb */
}


@media (min-width: 100px) and (max-width: 575px) {
  .container-schedule {
    .task-times {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      p {
        font-size: 12px;
      }
      .time-dash {
        display: none;
      }
  }
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


}
