
.water {
  height: 100%;
}

.toggle-tracker-card {
  background-color: #d2d1e9;
  border-radius: 8px;
  display: flex;

  width: 100%;
  height: 100%;
  h3 {
    color: #282D58;
  }

  .edit-tracker-btn {
    color:  #282D58;

    &:hover {
      color: #65699b;
    }
  }
}

.tracker-info-display {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.btn-tracker {
  color: #282D58;
  border: none;
  background-color: $japan-blue-light;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  width: 100%;
  font-size: 24px;

}
.btn-tracker:hover {
  background-color: $japan-blue-light;
  font-weight: bold;
  color: $japan-white;
}


.text-display {
  margin: 4px;
  padding-left: 3px;

  border-radius: 10px;
  box-shadow: #3c7a8f;
  background-color: #d2d1e9;
}


.display-tracker {
  display: flex;
  justify-content: space-between;
}
.water-tank {
  position: relative;
  width: 100px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
  box-shadow: 0 4px 6px rgba(0, 2, 2, 0.2);
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.water-fill {
  width: 100%;
  background: linear-gradient(to top, #2f97ba,  $japan-blue-light);
  transition: height 0.5s ease, background 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a0a4a;
  font-weight: bold;
}

.water-tank::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), transparent);
  border-radius: 10px;
}

.water-fill::after {
  content: attr(data-percent) '%';
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #3b2059;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.row {
  padding-top: 8%;
}



@media (min-width: 100px) and (max-width: 575px) {
  .water-tank {
    width: 50px;
    height: 140px;
  }
  .toggle-tracker-card {
    height: fit-content;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .water_tank {
//     width: 50px;
//     height: 100px;
//   }

// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .water_tank {
//     width: 100px;
//     height: 200px;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .water_tank {
//     width: 100px;
//     height: 200px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .water_tank {
//     width: 100px;
//     height: 200px;
//   }
// }
