// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body.work-period {
  background-color: #f4f4f4;
}

body.short-break-period {
  background-color: #d4edda;
}

body.long-break-period {
  background-color: #d1ecf1;
}
